[submodule "submodules/sfmono-font"]
	path = submodules/sfmono-font
	url = https://github.com/epk/SF-Mono-Nerd-Font.git
[submodule "submodules/mutt_bgrun"]
	path = submodules/mutt_bgrun
	url = https://github.com/RichiH/mutt_bgrun.git
[submodule "fonts/sf-mono"]
	path = fonts/sf-mono
	url = https://github.com/epk/SF-Mono-Nerd-Font.git
[submodule "terminals/kitty/themes/theme-collection"]
	path = terminals/kitty/themes/theme-collection
	url = https://github.com/dexpota/kitty-themes.git
[submodule "terminals/kitty/themes/rose-pine"]
	path = terminals/kitty/themes/rose-pine
	url = https://github.com/rose-pine/kitty.git
