// default_shell "nu"

// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds {
    unbind "Ctrl o"
    session {
        bind "Ctrl x" { SwitchToMode "Normal"; }
    }
    shared_except "session" "locked" {
        bind "Ctrl x" { SwitchToMode "Session"; }
    }
}

// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
//
themes {
	rose-pine-dawn {
		bg "#faf4ed"
		fg "#575279"
		red "#b4637a"
		green "#286983"
		blue "#56949f"
		yellow "#ea9d34"
		magenta "#907aa9"
		orange "#fe640b"
		cyan "#d7827e"
		black "#f2e9e1"
		white "#575279"
	}
	rose-pine-moon {
		bg "#232136"
		fg "#e0def4"
		red "#eb6f92"
		green "#3e8fb0"
		blue "#9ccfd8"
		yellow "#f6c177"
		magenta "#c4a7e7"
		orange "#fe640b"
		cyan "#ea9a97"
		black "#393552"
		white "#e0def4"
	}
}

// Choose the theme that is specified in the themes section.
// Default: default
//
theme "rose-pine-dawn"
