// default_shell "nu"

// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds {
    unbind "Ctrl o"
    session {
        bind "Ctrl x" { SwitchToMode "Normal"; }
    }
    shared_except "session" "locked" {
        bind "Ctrl x" { SwitchToMode "Session"; }
    }
}

// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
//
themes {
	rose_pine_dawn {
		bg "#faf4ed"
		fg "#575279"
		red "#b4637a"
		green "#286983"
		blue "#56949f"
		yellow "#ea9d34"
		magenta "#907aa9"
		orange "#fe640b"
		cyan "#d7827e"
		black "#f2e9e1"
		white "#575279"
	}
	ayu_mirage {
	    bg "#212733"
	    fg "#D9D7CE"
	    red "#FFAE57"
	    green "#80D4FF"
	    blue "#5CCFE6"
	    yellow "#D4BFFF"
	    magenta "#F07178"
	    orange "#FFD57F"
	    cyan "#95E6CB"
	    black "#272D38"
	    white "#FFFFFF"
	}
}

// Choose the theme that is specified in the themes section.
// Default: default
//
theme "ayu_mirage"
pane_frames false
